body{
    text-align: center;
}
.head{
    width: 100%;
    text-align: center;
}
.head button{
    float: right;
    border-radius: 20px;
    border-width: 3px;
    border-color: black;
}
.head h1{
    display: inline;
}
video{
    border: 10px;
    border-radius: 20px;
    border-style: groove;
}